.trend-connection-edit input {background-color: white; color: #172033; cursor: text;}
.trend-connection-edit input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; -webkit-text-fill-color: #172033; }
